/* Top Navigation */
/* --------------------------------------- */
.google-nav {
  list-style-type: none;
  display: inline-flex;
  margin-left: -40px;
}

.user-nav {
  list-style-type: none;
  margin-top: -19px;
  display: flex;
  justify-content: flex-end;
}

.google-nav-link, .user-nav-link {
  margin-left: 20px;
}

.user-nav .fa-th {
  font-size: 20px;
}

.fa-user-circle-o {
  font-size: 30px;
  margin-top: -5px;
  margin-right: 20px;
}

/* Middle container that has the Google logo, search bar, search buttons */
/* --------------------------------------- */
.google-logo-container {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.google-search-container {
  width: 600px;
  margin: 10px auto 0;
}

.google-search-container .fa {
  color: #d5d5d5;
}

.google-search-bar {
  border: 1px solid #d5d5d5;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
  color: #d5d5d5;
  margin-top: 20px;
}

.google-search-bar input {
  border: none;
  width: 92%;
  margin-left: 4px;
  font-size: 110%;
}

.google-search-buttons {
  display: flex;
  justify-content: center;
}

.google-search-buttons .search-button {
  margin-right: 10px;
}

.google-search-buttons button {
  padding: 11px;
  border-radius: 5px;
  border: 0 solid #d5d5d5;
  margin-top: 20px;
}

.google-search-buttons button:hover {
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

/* Footer */
/* --------------------------------------- */
/*
  Why use margin:0

  https://teamtreehouse.com/community/-margin-0-padding-0-what-is-the-exact-meaning-of-this

  The main reason this is used is because sometimes the browser will apply
  it's default margin/padding to elements, and in a case where you do
  not want there to be any margin or padding space around an element you will
  want to define that there is no margin or padding.

  Resets the pages default margin and padding for the entire html file.
  This will allow you to have more control when you are styling specific elements.

 */

/* To create a sticky footer */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
  margin-top: auto
}

.footer {
  flex-shrink: 0;
  background: #f2f2f2;
}

/* Footer styling */
.footer-nav-left {
  list-style-type: none;
  display: inline-flex;
  margin-left: -40px;
}

.footer-nav-right {
  list-style-type: none;
  margin-top: -19px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px
}

.footer-nav-link-right, .footer-nav-link-left {
  margin-left: 20px;
}

/* link tags */
/* --------------------------------------- */
a {
  color: rgba(0,0,0,0.87);
  text-decoration: none;
  font-family: arial, sans-serif;
}

a:hover {
  text-decoration: underline;
}
